<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <description>加载资源文件</description>
    <import resource="classpath:jdbc/spring-jdbc.xml" />
    <import resource="classpath:static/static-constants.xml" />
</beans>